*{
    box-sizing:border-box;
    color: #25bdd8;
}
#head{
    background-color: #bce6eb;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    background-color: #bce6eb;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 2.5rem;
    margin-top: auto;
}